body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
  }
  
  header {
    height: 40vh;
    background-image: url(../assets/images/header.png);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
  }

  .heading-primary {
    color: #fff;
    backface-visibility: hidden;
    margin-bottom: 60px;
  }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
